<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2101CS405</b></center>
<center><b><h1>Lab - 1</b></center>    
<pre>

### 01) WAP to print “Hello World”

In [2]:
print('Hello')

Hello

### 02) WAP to print your address i) using single print ii) using multiple print

In [ ]:
print('1. Using Single Print\n')
print('Vrundavan-02,\nAnkur main road,\n150ft ring road, \nRajkot-360004 \n')

print('2. Using multiple Print\n')
print('vrundavan-02,')
print('Ankur Main Road,')
print('150ft ring road')
print('Rajkot-360004')

1. Using Single Print

Vrundavan-02,
Ankur main road,
150ft ring road,
Rajkot-360004

2. Using multiple Print

vrundavan-02,
Ankur Main Road,
150ft ring road
Rajkot-360004

### 03) WAP to print addition of 2 numbers (without input function)

In [ ]:
a=5
b=15
print('Addition of two numbers:',a+b)

Addition of two numbers: 20

### 04) WAP to calculate and print average of 2 numbers (without input function)

In [ ]:
a=5
b=10
print('Average of two numbers:',(a+b)/2)

Average of two numbers: 7.5

### 05) WAP to add two number entered by user.

In [ ]:
num1=int(input('Enter 1st number:'))
num2=int(input('Enter 2nd number:'))
print('Addition of two numbers:',num1+num2)

Enter 1st number:2
Enter 2nd number:2
Addition of two numbers: 4

### 06) WAP to calculate simple interest.

In [ ]:
p=int(input('Enter a Principle Amount:'))
i=int(input('Enter an intrest Percentage:'))
t=int(input('Entter a time periods in year:'))
print('Simple intrest of the given amount:',(p*i*t)/100)

Enter a Principle Amount:1000
Enter an intrest Percentage:2
Entter a time periods in year:1
Simple intrest of the given amount: 20.0

### 07) WAP Calculate Area and Circumfrence of Circle

In [3]:
import math
radius=int(input('Enter radius of circle:'))
print(f"Area of circle having radius {radius} is",(math.pi*radius*radius))
print(f"Circumference of circle having radius {radius} is",2*math.pi*radius)

Area of circle having radius 3 is 28.274333882308138
Circumference of circle having radius 3 is 18.84

### 08) WAP to print Multiplication table of given number without using loops.

In [ ]:
n=int(input(" Enter a number for multiplication table="))
print(n, "*", 1, "=", n*1)
print(n, "*", 2, "=", n*2)
print(n, "*", 3, "=", n*3)
print(n, "*", 4, "=", n*4)
print(n, "*", 5, "=", n*5)
print(n, "*", 6, "=", n*6)
print(n, "*", 7, "=", n*7)
print(n, "*", 8, "=", n*8)
print(n, "*", 9, "=", n*9)
print(n, "*", 10, "=", n*10)

 Enter a number for multiplication table=12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

### 09) WAP to calculate Area of Triangle (hint: a = h * b * 0.5)

In [4]:
print('Area of Triangle\n')
h=float(input('Enter a Height of triangle:'))
b=float(input('Enter a base of triangle:'))
print('Area of Triangle:',h*b*0.5)

Area of Triangle

Area of Triangle: 2.0

### 10) WAP to convert degree to Fahrenheit and vice versa.

In [ ]:
print('Convert temperature celcius to fahrenheit')
c=int(input('Enter temprature in celcius:'))
print(f"Converted temp. from {c} °C to fahrenheit =",(c*(9/5))+32,"F")
print('\nConvert temprature fahrenheit to celcius')
f1=int(input('Enter tempratue in fahrenheit:'))
print(f"Converted temprature from {f1} F to celcius =",(f1-32)*(5/9),"°C")

Convert temperature celcius to fahrenheit
Enter temprature in celcius:40
Converted temp. from 40 °C to fahrenheit = 104.0 F

Convert temprature fahrenheit to celcius
Enter tempratue in fahrenheit:104
Converted temprature from 104 F to celcius = 40.0 °C

### 11) WAP to calculate total marks and Percentage.

In [ ]:
sub1=int(input('Enter subject-1 marks:'))
sub2=int(input('Enter subject-2 marks:'))
sub3=int(input('Enter subject-3 marks:'))
sub4=int(input('Enter subject-4 marks:'))
sub5=int(input('Enter subject-5 marks:'))
total=sub1+sub2+sub3+sub4+sub5
percentage=total*100/500
print('Total marks:',total)
print('percentage:',percentage,'%')

Enter subject-1 marks:80
Enter subject-2 marks:70
Enter subject-3 marks:5
Enter subject-4 marks:57
Enter subject-5 marks:56
Total marks: 268
percentage: 53.6 %

### 12) Compute distance between two points taking input from the user (Pythagorean Theorem).

In [ ]:
x1 = int(input("Enter X1 Coordinate : "))
x2 = int(input("Enter X2 Coordinate : "))
y1 = int(input("Enter y1 Coordinate : "))
y2 = int(input("Enter y2 Coordinate : "))
dis = ((x1-x2)**2+(y1-y2)**2)**0.5
print(f"Distance between ({x1},{x2}) and ({y1},{y2}) is",dis)

Enter X1 Coordinate : 4
Enter X2 Coordinate : 2
Enter y1 Coordinate : 4
Enter y2 Coordinate : 2
Distance between (4,2) and (4,2) is 2.8284271247461903

### 13) WAP to convert seconds into hours, minutes & seconds and print in HH:MM:SS
[e.g. 10000 seconds mean 2:46:40 (2 Hours, 46 Minutes, 40Seconds)]

In [ ]:
sec=int(input('Enter second='))
hour=sec//3600
min=(sec%3600)//60
second=(sec%3600)%60
print(f"Time={hour}:{min}:{second}")

Enter second=10000
Time=2:46:40

### 14) WAP to enter distance into kilometer and convert it into meter, feet,inches, and centimeter

In [ ]:
distance=int(input("Enter Distance in kilometre,(km) ="))
metre=distance*1000
feet=distance*3281
inches=distance*39370
cm=distance*100000
print(f"Distance {distance}km converted into diffrent parametres\n\n{distance}km = {metre}m (Meter)\n{distance}km = {feet}ft (Feet)\n{distance}km = {inches}in (Inches)\n{distance}km = {cm}cm (Centimetre)")

Enter Distance in kilometre,(km) =2
Distance 2km converted into diffrent parametres

2km = 2000m (Meter)
2km = 6562ft (Feet)
2km = 78740in (Inches)
2km = 200000cm (Centimetre)