
<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2101CS405</b></center>
<center><b><h1>Lab - 3</b></center>    
<pre>

# for and while loop

### 01) WAP to print 1 to 10

In [ ]:
i=1
while i<=10:
  print(i,end=',')
  i+=1

1,2,3,4,5,6,7,8,9,10,

### 02) WAP to print 1 to n

In [ ]:
n=int(input("Enter a number:"))
i=1
while i<=n:
  print(i,end=',')
  i+=1

Enter a number:10
1,2,3,4,5,6,7,8,9,10,

### 03) WAP to print odd numbers between 1 to n

In [ ]:
n=int(input("Enter number:"))
i=1
while i<=n:
  if(i%2!=0):
    print(i,end=',')
  i+=1

Enter number:10
1,3,5,7,9,

### 04) WAP to print numbers between two given numbers which is divisible by 2 but not divisible by 3

In [ ]:
n1=int(input("Enter a initial number,n1:"))
n2=int(input("Enter a terminate number,n2:"))
i=n1
while i<n2:
  if(i%2==0 and i%3!=0):
    print(i,end=',')
  i+=1

Enter a initial number,n1:1
Enter a terminate number,n2:15
2,4,8,10,14,

### 05) WAP to print sum of 1 to n numbers

In [ ]:
n=int(input("Enter a nth number: "))
i=1
sum=0
while i<=n:
  sum=sum+i
  i+=1
print(f'sum of 1 to {n} number:',sum)

Enter a nth number: 5
sum of 1 to 5 number: 15

### 06) WAP to print sum of series 1 + 4 + 9 + 16 + 25 + 36 + ...n

In [4]:
n=int(input("Enter a nth number:"))
i=1
sum=0
print("Square series 1 to Nth = ",end=' ')
while i<=n:
  print(pow(i,2),end=' + ')
  sum=sum+pow(i,2)
  i+=1
print("\nsum of series: ",sum)

Square series 1 to Nth =  1 + 4 + 9 + 16 + 25 +
sum of series:  55

### 07) WAP to print sum of series 1 – 2 + 3 – 4 + 5 – 6 + 7 ... n

In [ ]:
n=int(input("Enter a nth number: "))
sum=0
i=1
while i<=n:
  if(i%2==0):
    sum=sum-i
  elif(i%2!=0):
    sum=sum+i
  i+=1
print("Sum of the given series: ",sum)

Enter a nth number: 5
Sum of the given series:  3

### 08) WAP to print multiplication table of given number.

In [ ]:
n=int(input("Enter nth number for multiplication table: "))
i=1
while i<=10:
  
  print(n,'x',i ,'=',n*i )
  i+=1

Enter nth number for multiplication table: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

### 09) WAP to find factorial of the given number

In [ ]:
n=int(input("Enter a number: "))
i=n
fact=1
while i>=1:
  fact=fact*i
  i-=1
print('Factorial of number : ',fact)

Enter a number: 5
Factorial of number :  120

### 10) WAP to find factors of the given number

In [ ]:
n=int(input("Enter a number : "))
i=1
count=1
print(f"Factors of {n} =",end=' ')
while i<=n:
  if(n%i==0):
      print(i,end=',')
  i+=1

Enter a number : 20
Factors of 20 = 1,2,4,5,10,20,

### 11) WAP to find whether the given number is prime or not.

In [8]:
n=int(input("Enter a number:"))
flag=0
for i in range(2,n//2):
  if(n%i==0):
    flag=0
    break;
  else:flag=1

if(flag==0):
  print(f"{n} is not a prime number.")
else:
  print(f"{n} is a prime number.")

12 is not a prime number.

### 12) WAP to print sum of digits of given number

In [ ]:
n=int(input("Enter a number:"))
temp1=n
sum=0
while n>=1:
  temp=n%10
  sum=sum+temp
  n=n//10
print(f"Sum of digits of number '{temp1}'= ",sum)

Enter a number:123
Sum of digits of number '123'=  6

### 13) WAP to check whether the given number is palindrome or not

In [2]:
n=int(input("Enter a number: "))
# temp=n
# rev=0
# while n>=1:
#   r=n%10
#   rev=(rev*10)+r
#   n=n//10
# print(f"Revere number of {temp} = ",temp1)

# if(temp==temp1):
#   print(f"Number {temp} is a Palindrome number.")
# else:
#   print(f"Number {temp} is not a Palindrome number.")
rev=int(str(n)[::-1])
if(n==rev):
    print("palidrom")

palidrom

### 01) WAP to check whether the given number is Armstrong or not.

In [14]:
n= int(input("Enter a number:"))
temp=n
sum=0
count=len(str(n))
while n>=1:
  r=n%10
  sum=sum+pow(r,count)
  n=n//10
if(temp==sum):
  print(f"number {temp} is armstrong")
else:
  print(f"number {temp} is not armstrong")

number 1634 is armstrong

### 02) WAP to find out prime numbers between given two numbers.

In [ ]:
n1=int(input("Enter a number,n1= "))
n2=int(input("Enter a number,n2= "))
while n1<=n2:
  n=n1
  flag=0
  i=2
  while i<n/2:
    if(n%i==0):
      falg=0
      break;
    else:
      flag=1
    i+=1

  if(flag==1):
    print(f"{n} is a prime number.")
  n1+=1

Enter a number,n1= 1
Enter a number,n2= 10
5 is a prime number.
7 is a prime number.
9 is a prime number.

### 03) WAP to calculate x^y without using any function.

In [ ]:
x=int(input("Enter amount of x : "))
y=int(input("Enter amount of y: "))
ans=1
for i in range(1,y+1):
  ans=ans*x
 
print(f"{x}^{y} = ",ans)

Enter amount of x : 12
Enter amount of y: 2
12^2 =  144

### 04) WAP to check whether the given number is perfect or not.
[Sum of factors including 1 excluding number itself]

In [ ]:
#sum of factors = number then it is perfect
n=int(input("Enter a Number : "))
sum=0
for i in range(1,n):
  if(n%i==0):
    sum=sum+i
if(sum==n):
  print(f"number {n} is a perfect number.")
else:
  print(f"number {n} is not a perfect number.")

Enter a Number : 28
number 28 is a perfect number.

### 05) WAP to find the sum of 1 + (1+2) + (1+2+3) + (1+2+3+4)+...+(1+2+3+4+....+n)

In [20]:
n=int(input("Enter a Nth number of series : "))
sum=0
for i in range(1,n):
  for j in range(1,i+1):sum+=j
print("Sum of given series = ",sum)

Enter a Nth number of series : 4
Sum of given series =  10

### 06) WAP to print Multiplication Table up to n

In [21]:
n=int(input("Enter number of multiplication table,n : "))
for i in range(1,n+1):
  j=1
  while(j<=10):
    print(i,'x',j ,'=',i*j)
    j+=1

Enter number of multiplication table,n : 3
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30